[submodule "picovoice_driver/extern/rhino"]
    path = picovoice_driver/extern/rhino
    url = ../../tue-robotics/rhino.git
    branch = master
[submodule "picovoice_driver/extern/porcupine"]
    path = picovoice_driver/extern/porcupine
    url = ../../tue-robotics/porcupine.git
    branch = master
[submodule "picovoice_driver/extern/pvrecorder"]
    path = picovoice_driver/extern/pvrecorder
    url = ../../tue-robotics/pvrecorder.git
    branch = master
